@charset "UTF-8";

@font-face {
  font-family: "yingwen";
  src: url("yingwen.woff2") format("woff2"),
       url("yingwen.woff") format("woff"),
       url("yingwen.ttf") format("truetype"),
       url("yingwen.eot") format("embedded-opentype"),
       url("yingwen.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}